.board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Dark mode styling for Board */
.App.dark .board-container {
  background-color: #222; /* optional */
  border-radius: 5px;
}